<div class="trips-page">

  <div class="trips-header">
    <h1>Mes idées voyages ✈️</h1>
    <p>Note ici tes idées d’aventures et d’escapades, puis demande à notre assistant IA de t’aider à les planifier !</p>
    <%= link_to "Créer un nouveau voyage", new_trip_path, class: "btn btn-primary trips-new-btn" %>
  </div>

  <div class="cards mt-4">
    <% @trips.each do |trip| %>
      <%= link_to trip_path(trip), class: "text-decoration-none" do %>

        <div class="card-category"
            style="background-image:
                      linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
                      url('<%= asset_path("barcelone.webp") %>');">

          <div class="card-category-content">
            <h3><%= trip.destination %></h3>
            <p>
              Du <%= trip.start_date %> au <%= trip.end_date %><br>
              <strong><%= trip.traveler_count %> voyageur(s)</strong> ·
              <%= number_to_currency(trip.budget, unit: "€", format: "%n %u") %>
            </p>
          </div>



        </div>

    <% end %>
      <% end %>
  </div>


<div class="cards mt-4">
  <% @trips.each do |trip| %>
    <%= link_to trip_path(trip), class: "text-decoration-none" do %>

      <div class="card-category"
           style="background-image:
                  linear-gradient(rgba(0,0,0,0.35), rgba(0,0,0,0.35)),
                  url(<%= asset_path('plage.jpg') %>);">

        <div class="card-category-content">
          <h3><%= "Sicile" %></h3>
          <p>
            Du <%= trip.start_date %> au <%= trip.end_date %><br>
            <strong><%= trip.traveler_count %> voyageur(s)</strong> ·
            <%= number_to_currency(trip.budget, unit: "€", format: "%n %u") %>
          </p>
        </div>



        </div>

    <% end %>
      <% end %>
  </div>
</div>
