<!-- app/views/chats/show.html.erb -->
<div class="container chat-show">
  <%= render "header", chat: @chat %>
  <%= render "trip_info", chat: @chat %>
  <%= render "messages", messages: @messages %>
  <%= render "message_form", chat: @chat, message: @message %>

  <!-- Affichage des fichiers -->
  <% if @message.files.attached? %>
    <% @message.files.each do |file| %>
      <% if file.image? %>
        <%= image_tag file, style: "max-width: 200px;", class: "mb-2 d-block" %>
      <% else %>
        <%= link_to file.filename.to_s, url_for(file), class: "d-block mb-2", target: "_blank" %>
      <% end %>
    <% end %>
  <% end %>

  <!-- Formulaire envoi -->
  <div id="new_message">
    <%= form_with model: [@chat, @message], multipart: true, local: true do |f| %>
      <%= f.file_field :files, multiple: true, class: "form-control mb-2" %>
    <% end %>
  </div>
</div>
