<!DOCTYPE html>
<html>
  <head>
    <title>AiTravelAssistant</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= link_to "Skip to main content", "#main-content", class: "visually-hidden-focusable" %>

    <header>
      <%= render "shared/navbar" %>
    </header>

    <main id="main-content">
      <div class="container-fluid">
        <div class="row" data-controller="toggle"> <%# ici pour gérer toute la page car sidenav dynamique %>
          <nav class="col-md-2 sidenav pt-3" data-toggle-target="hideable"> <%# puis, data-target ici%>
            <% if user_signed_in? %>
              <%= render "shared/sidenav", trips: current_user.trips %>
            <% end %>
          </nav>

          <div class="col-md-10 my-4">
            <%= render "shared/flashes" %>
             <%= link_to "#", class: "d-none nav-link text-dark",
                   data: {action: "click->toggle#call", toggle_target: "show"} do %> <%# toggle target show ici, hideable plus haut + static targets dans controller%>
            <i class="fa-regular fa-square-caret-right"></i>
            <% end %>
            <%= yield %>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
